<table>
        <thead>
          <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Item Name</th>
              <th data-field="price">Item Price</th>
          </tr>
        </thead>
​
        <tbody>
          <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
          </tr>
          <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
          </tr>
          <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
          </tr>
        </tbody>
      </table>

  <div id="application-details">

<!-- Data from URLs -->
    <div id="url-ranking">
      <h3>Most Requested URL's</h3>
      <ol>
        <li>http://jumpstartlab.com/blog: 2</li>
        <li>http://jumpstartlab.com/blog: 1</li>
      </ol>
    </div>

<!-- Data from UserAgent -->
    <div id="web-browser-breakdown">
      <h1>Web Browser Breakdown</h1>
      <ol>
        <li>Chrome: 2</li>
        <li>Firefox: 1</li>
      </ol>
    </div>

<!-- Data from UserAgent -->
    <div id="os-breakdown">
      <h1>Operating System Breakdown</h1>
      <ol>
        <li>Apple iOS: 2</li>
        <li>Windows 95: 1</li>
      </ol>
    </div>

<!-- Data from resolutionWidth x resolutionHeight -->
  <div id="screen_resolution">
    <h1>Screen Resolution</h1>
    <ol>
      <li>1820</li>
      <li>1960</li>
    </ol>
  </div>

  <!-- Data from respondedIn -->
    <div id="response_time">
      <h1>URL by Response Time</h1>
      <ol>
        <li>some date and time</li>
        <li>some other date and time</li>
      </ol>
    </div>


  </div>
