<div id="application-details">

  <!-- Data from URLs -->
  <!-- make link for URL that points to payload hash, link to aggregate event data (see last 2 bullets on app details) -->
  <table class="table table-striped" id="url-ranking">
    <h2>Most Requested URL's</h2>
    <thead>
      <tr>
          <th data-field="url">URL</th>
          <th data-field="count">Count</th>
      </tr>
    </thead>
​
    <tbody>
      <tr>
        <td>http://jumpstartlab.com/blog</td>
        <td>2</td>
      </tr>
      <tr>
        <td>http://jumpstartlab.com/tyler/</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>


<!-- Data from UserAgent -->
  <table class="table table-striped" id="web-browser-breakdown">
    <h2>Web Browser Breakdown</h2>
    <thead>
      <tr>
          <th data-field="browser">Browser</th>
          <th data-field="count">Count</th>
      </tr>
    </thead>
  ​
    <tbody>
      <tr>
        <td>Chrome</td>
        <td>2</td>
      </tr>
      <tr>
        <td>Firefox</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>

<!-- Data from UserAgent -->
<table class="table table-striped" id="os-breakdown">
  <h2>Operating System Breakdown</h2>
  <thead>
    <tr>
        <th data-field="browser">Operating System</th>
        <th data-field="count">Count</th>
    </tr>
  </thead>
​
  <tbody>
    <tr>
      <td>Apple iOS</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Windows 95</td>
      <td>1</td>
    </tr>
  </tbody>
</table>


<!-- Data from resolutionWidth x resolutionHeight -->
  <table class="table table-striped" id="screen_resolution">
    <h2>Screen Resolution</h2>
    <thead>
      <tr>
          <th data-field="resolution">Resolution</th>
          <th data-field="count">Count</th>
      </tr>
    </thead>
  ​
    <tbody>
      <tr>
        <td>1820 x 1960</td>
        <td>2</td>
      </tr>
      <tr>
        <td>750 x 1080</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>

  <!-- Data from respondedIn -->
    <table class="table table-striped" id="response_time">
      <h2>URL by Response Time</h2>
      <thead>
        <tr>
            <th data-field="url">URL</th>
            <th data-field="time">Time</th>
        </tr>
      </thead>
    ​
      <tbody>
        <tr>
          <td>http://jumpstartlab.com/blog</td>
          <td>20s</td>
        </tr>
        <tr>
          <td>http://jumpstartlab.com</td>
          <td>1s</td>
        </tr>
      </tbody>
    </table>

  </div>
