<div id="application-event-details">
  <!-- Data from event_names table -->
  <!-- Need to link event details with event name below -->

  <table class="table table-striped" id="event-name-statistics">
    <h2>Most Recieved Events</h2>
    <thead>
      <tr>
          <th data-field="event-name">Event Name</th>
          <th data-field="count">Count</th>
      </tr>
    </thead>
  ​
    <tbody>
      <% event_names.each do |event_name, count| %>
      <tr>
        <td><%= event_name %></td>
        <td><%= count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
