<br><br>
 <div class="row">
  <div class="col s6">
    <img class="materialboxed z-depth-4" width="350" src="http://s.newsweek.com/sites/www.newsweek.com/files/2015/06/19/0626datastorage01.jpg">
  </div>
  <div class="col s6">
    <br><br>
    <h3>Turn insights<br> into action.</h3>
  </div>
</div>

<div class="row">
  <div class="col s12 center-align">
    <a class="waves-effect waves-light btn" href="#">Sign Up</a>
    <a class="waves-effect waves-light btn" href="/sources/jumpstartlab"><i class="material-icons left">cloud</i>Demo</a>
  </div>
</div>
